<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        ようこそ、NaganoCakeへ！<br>
      </p>
      <div class="row">
        <%= link_to "Log in", new_user_session_path, class:"btn btn-primary col-xs-10 col-xs-offset-2" %>
      </div><br>
      <div class="row">
        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-2" %>
      </div><br>
      
　　</div>
  </div>
</div>

